body {
  background: linear-gradient(to bottom, rgb(3, 2, 90), rgb(90, 21, 179));
  height: 100vh;
  color: white;
  text-align: center;
  padding: 20px;
}

h2 {
  background: linear-gradient(to right, rgb(45, 126, 193), rgb(0,60,150));
  color: rgb(194, 136, 245);
  padding: 5px;
  font-size: 30px;
  margin-bottom: 20px;
}

form {
  background: linear-gradient(to bottom, rgb(80, 80, 80), rgb(40, 40, 40));
  padding: 10px;
  margin: 20px auto;
  width: 60%;
}

input, select, button {
  font-size: 18px;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  border: 3px solid rgb(48, 44, 145);
}

button {
  background: linear-gradient(to right, rgb(0, 108, 196), rgb(0, 60, 150));
  color: rgb(53, 228, 53);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to right, rgb(242, 183, 183), rgb(248, 126, 126));
  color: black;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 2px solid rgb(0, 255, 64);
  padding: 10px;
}

#total-cost {
  font-size: 24px;
  font-weight: bold;
  color: yellow;
}